{% extends "metronic/index.html" %}

{% block title %}{{ "Районы"|t }} {% endblock %}
{% block sub-header-title %}{{ "Районы"|t }} {% endblock %}

{% block sub-header-toolbar %}
<div class="kt-subheader__toolbar">
  <div class="kt-subheader__wrapper">
    <a href="{% path admin.district/create %}" class="btn btn-ment kt-subheader__btn-options">
      <i class="la la-cloud-upload"></i>
      {{ "Добавить"|t }}
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{ "Районы"|t }}
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <table class="table">
      <thead>
      <tr>
        <th>{{ "Код"|t }}</th>
        <th>{{ "Текст"|t }}</th>
        <th>{{ "Область"|t }}</th>
        <th>{{ "Статус"|t }}</th>
        <th class="text-right">{{ "Действие"|t }}</th>
      </tr>
      </thead>
      <tbody>
      {% for district in districts %}
      <tr>
        <td>{{ district.code }}</td>
        <td>
          <div><span class="kt-font-success"> ru </span> {{ district.name_ru }}</div>
          <div><span class="kt-font-success"> uz </span> {{ district.name_uz_la }}</div>
          <div><span class="kt-font-success"> ўз</span> {{ district.name_uz_cy }}</div>
        </td>
        <td>
          <div><span class="kt-font-success"> ru </span> {{ district.area_name_ru }}</div>
          <div><span class="kt-font-success"> uz </span> {{ district.area_name_uz_la }}</div>
          <div><span class="kt-font-success"> ўз</span> {{ district.area_name_uz_cy }}</div>
        </td>
        <td>
          <div>
            {% if district.obsolete %}
              <div class="kt-font-warning">
                {{ "Устарел"|t }}
              </div>
            {% else %}
              <div class="kt-font-success">
                {{ "Доступен"|t }}
              </div>
            {% endif %}
          </div>
        </td>
        <td class="text-right">
          <a href="{% path admin.district/edit id @district.id %}"
             class="btn btn-sm btn-clean btn-icon btn-icon-md"
             title="{{ "Редактировать"|t }}">
            <i class="la la-edit"></i>
          </a>
          <form class="d-inline" method="post" action="{% path admin.district/delete id @district.id %}">
            {% csrf-field %}
            <button class="btn btn-sm btn-clean btn-icon btn-icon-md confirm-click" data-confirmation='{{ "Вы точно хотите удалить этот район?"|t }}'>
              <i class="la la-remove"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
