{% extends "metronic/index.html" %}

{% block title %}
  {{ "Статьи"|t }}
{% endblock %}

{% block sub-header-title %}
  {{ "Статьи"|t }}
{% endblock %}

{% block sub-header-sub-title %}
  {{ "Статьи для приминения к нарушениям"|t }}
{% endblock %}

{% block sub-header-toolbar %}
<div class="kt-subheader__toolbar">
  <div class="kt-subheader__wrapper">
    <a href="{% path admin.article/create %}" class="btn btn-ment kt-subheader__btn-options">
      <i class="la la-cloud-upload"></i>
      {{ "Добавить"|t }}
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{ "Статьи"|t }}

      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <table class="table">
      <thead>
      <tr>
        <th>{{ "Номер"|t }}</th>
        <th>{{ "Код"|t }}</th>
        <th>{{ "Штраф"|t }}</th>
        <th>{{ "Краткий текст"|t }} / {{ "Текст"|t }}</th>
        <th>{{ "Статус"|t }}</th>
        <th class="text-right">{{ "Действие"|t }}</th>
      </tr>
      </thead>
      <tbody>
      {% for article in articles %}
      <tr>
        <td>{{ article.number }}</td>
        <td>{{ article.id }}</td>
        <td>
          {% if article.factor %}
            {{ article.factor }} {{ "МРЗП"|t }}
          {% endif %}
        </td>
        <td>
          <div><span class="kt-font-success"> ru </span> {{ article.alias_ru }}</div>
          <div><span class="kt-font-success"> uz </span> {{ article.alias_uz_la }}</div>
          <div><span class="kt-font-success"> ўз</span> {{ article.alias_uz_cy }}</div>
          <br>
          <div><span class="kt-font-success"> ru </span> {{ article.text_ru }}</div>
          <div><span class="kt-font-success"> uz </span> {{ article.text_uz_la }}</div>
          <div><span class="kt-font-success"> ўз</span> {{ article.text_uz_cy }}</div>
        </td>
        <td>
          <div>
            {% if article.obsolete %}
              <div class="kt-font-warning">
                {{ "Устарел"|t }}
              </div>
            {% else %}
              <div class="kt-font-success">
                {{ "Доступен"|t }}
              </div>
            {% endif %}
          </div>
        </td>

        <td class="text-right">
          <a href="{% path admin.article/edit id @article.id %}"
             class="btn btn-sm btn-clean btn-icon btn-icon-md"
             title="{{ "Редактировать"|t }}">
            <i class="la la-edit"></i>
          </a>
          <form class="d-inline" method="post" action="{% path admin.article/delete id @article.id %}">
            {% csrf-field %}
            <button class="btn btn-sm btn-clean btn-icon btn-icon-md confirm-click"
                    data-confirmation='{{ "Вы точно хотите удалить эту статью?"|t }}'>
              <i class="la la-remove"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
