/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env.local
.nrepl-port
/log
.idea
/*.iml
/resources/public/js/*.min.js
/resources/public/js/*.min.js.map
/node_modules
/upload
/download
.DS_Store
data
