{% extends "metronic/index.html" %}

{% block title %}{{ "Изменение пароля"|t }} {% endblock %}
{% block sub-header-title %}{{ "Изменение пароля"|t }} {% endblock %}

{% block floor %}
  <script src="/js/password.js" type="module"></script>
{% endblock %}

{% block roof %}
  <link rel="stylesheet" href="/css/password.css">
{% endblock %}


{% block content %}
  <div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">{{ "Изменение пароля"|t }}</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <form class="kt-form pt-4 pb-4" method="post">
        {% csrf-field %}
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-12">
            <div class="kt-section kt-section--first">
              <div class="kt-section__body">
                {% if staff %}
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">{{ "Старый пароль"|t }}</label>
                    <div class="col-md-9">
                      <input class="form-control" type="password" name="old_password" placeholder="{{ "Старый пароль"|t }}" required>
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
                {% else %}
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">{{ "Номер телефона"|t }}</label>
                    <div class="col-md-9 d-flex align-items-center">
                      <div class="kt-input-icon kt-input-icon--left kt-input-icon--right">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                          <span><i class="la la-phone"></i></span>
                        </span>
                        <input class="form-control" type="tel" name="phone" placeholder="{{ "Введите номер телефона"|t }}" required autocomplete="off">
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>
                    <span class="offset-md-3 col-md-9 form-text text-muted">{{ "На указанный номер будет отправлен SMS с кодом подтверждения."|t }}</span>
                  </div>
                  <div class="collapse code_form">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">{{ "Код подтверждения"|t }}</label>
                      <div class="col-md-9 d-flex align-items-center">
                        <div class="kt-input-icon kt-input-icon--left">
                          <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-envelope"></i></span>
                          </span>
                          <input class="form-control" type="number" name="code" placeholder="{{ "Введите код подтверждения"|t }}" required>
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                      <span class="offset-md-3 col-md-9 form-text text-muted"></span>
                      <div class="offset-md-3 col-md-9 mt-4">
                        <button id="resend" disabled class="btn btn-outline-info btn-block" type="button"></button>
                      </div>
                    </div>
                  </div>
                {% endif %}
                <div class="collapse password_form {% if staff %}show{% endif %}">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">{{ "Новый пароль"|t }}</label>
                    <div class="col-md-9">
                      <input class="form-control" type="password" name="new_password" placeholder="{{ "Новый пароль"|t }}" required>
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">{{ "Новый пароль (повторно)"|t }}</label>
                    <div class="col-md-9">
                      <input class="form-control" type="password" name="repeated_new_password" placeholder="{{ "Новый пароль (повторно)"|t }}" required>
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-sm-2 col-sm-8 col-md-4 offset-md-4 mt-4">
                      <button type="button" class="w-100 btn btn-success mr-2">{{ "Сохранить"|t }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
