{% extends "metronic/index.html" %}

{% block title %}{{ "Публичная оферта о пользовании порталом videoJarima"|t }} {% endblock %}
{% block sub-header-title %}{{ "Публичная оферта о пользовании порталом videoJarima"|t }} {% endblock %}


{% block content %}

<div class="kt-portlet">
  <div class="kt-portlet__body">
    <h5>
      1. Общие условия
    </h5>

    <ol>
      <li>Настоящая Публичная Оферта регулирует отношения между Оператором портала <b>videoJarima</b> (далее – портал), с одной стороны, и Пользователем портала, с другой.</li>
      <li>Оператор портала оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения с последующим уведомлением Пользователя портала.</li>
      <li>Пользователь портала несет персональную ответственность за ознакомление с условиями настоящего Соглашения.</li>
      <li>Продолжение использования сервисов портала Пользователем означает принятие настоящего Соглашения в полном объеме.</li>
    </ol>

    <h5>
      2. Термины, используемые в целях настоящего Соглашения
    </h5>

    <p>В настоящем Соглашении используются следующие термины:</p>

    <ol>
      <li>Оператор портала – Государственная служба безопасности дорожного движения Республики Узбекистан (ГСБДД), осуществляющая свою деятельность в соответствии с законодательством Республики Узбекистан (далее – Оператор).</li>
      <li>Пользователи портала – лица, прошедшие процедуру регистрации на портале (далее – Пользователь).</li>
      <li>Портал videoJarima (далее – портал) – подсистема Единой государственной системы обеспечения безопасности дорожного движения с адресом в информационно-телекоммуникационной сети Интернет «dyhxx.ejarima.uz».</li>
      <li>Логин – уникальная последовательность символов, позволяющая идентифицировать Пользователя на портале, используемая для доступа к сервисам портала.</li>
      <li>Пароль – уникальная последовательность буквенно-цифровых символов, связанная с логином и используемая для доступа Пользователя к сервисам портала.</li>
      <li>Регистрация – процесс создания личной учетной записи Пользователя для получения им доступа к сервисам портала. Для регистрации необходимо наличие у Пользователя номера мобильного телефона.</li>
      <li>Авторизация – предоставление Пользователю определенных прав на использование сервисов портала, производимое по итогам ввода Пользователем логина и пароля.</li>
      <li>Сообщение Пользователя – комментарий с текстом и видеоматериалами о нарушении правил дорожного движения, направляемый в ГСБДД для рассмотрения и принятия решения о составлении протокола об административном правонарушении, размещенный Пользователем в разделе портала «Загрузить видео».</li>
      <li>Псевдоним Пользователя – используемые на портале имя и фамилия, введенные Пользователем в личном кабинете (далее – псевдоним).</li>
      <li>Учетная запись – совокупность данных о Пользователе, необходимая для его аутентификации на портале и предоставлении доступа к сервисам портала.</li>
      <li>Блокировка – техническая мера ограничения возможностей действий Пользователя.</li>
    </ol>

    <h5>
      3. Предмет Соглашения
    </h5>

    <ol>
      <li>Предметом настоящего Соглашения является обязанность Оператора в предоставлении Пользователю возможности регистрации на портале и пользования его сервисами.</li>
      <li>Пройдя процедуру регистрации либо процедуру авторизации при помощи номера мобильного телефона Пользователя на сайте https://dyhxx.ejarima.uz, Пользователь считается принявшим условия настоящего Соглашения в полном объеме без исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы портала.</li>
      <li>Использование сервисов портала регулируется настоящим Соглашением, Регламентом обработки информации на портале videoJarima, Правилами обработки обращений.</li>
    </ol>

    <h5>
      4. Права и обязанности сторон
    </h5>

    <ol>
      <li>Оператор обязуется:</li>
      <ol>
        <li>Обеспечить Пользователю доступ к сервисам портала в соответствии с п. 3.1 – п. 3.3. настоящего Соглашения.</li>
        <li>Не разглашать и не передавать информацию третьим лицам о Пользователе и его операциях на портале, за исключением случаев, предусмотренных действующим законодательством Республики Узбекистан.</li>
      </ol>
      <li>Оператор имеет право:</li>
      <ol>
        <li>В любой момент времени изменить условия настоящего Соглашения с последующим уведомлением Пользователя.</li>
        <li>Вносить изменения в сервисы портала, а также предоставлять доступ к новым сервисам.</li>
        <li>Проводить профилактические работы в сервисах Оператора с временным приостановлением работы портала.</li>
        <li>Отказать Пользователю в авторизации на портале, в случае неоднократного некорректного ввода пароля.</li>
        <li>Отказать Пользователю в регистрации на портале в случае отсутствия у него учетной записи на сайте https://dyhxx.ejarima.uz.</li>
        <li>Отказать Пользователю в обработке обращений, в случае нарушения Пользователем установленных настоящей Публичной Офертой обязательств.</li>
        <li>Заблокировать на любой период или удалить учетную запись в случае нарушения Пользователем условий настоящего Соглашения.</li>
        <li>Заблокировать на любой период или удалить учетную запись Пользователя в случае, если Пользователь неоднократно направляет на портал недостоверные материалы или материалы, которые могут быть классифицированы как спам, либо противоречащие требованиям, указанным в п. 4.4.10 – п. 4.4.13.</li>
        <li>Заблокировать на любой период или удалить учетную запись Пользователя в случае, если в качестве псевдонима пользователь указывает данные, противоречащие п. 4.4.7 – п. 4.4.9 настоящей оферты.</li>
        <li>Заблокировать на любой период или удалить учетную запись Пользователя, если сочтет ее противоречащей п. 4.4.3.</li>
        <li>Не рассматривать измененные видеозаписи, за исключением вырезанной в целях сокращения объема части, в которой непосредственно зафиксирован случай правонарушения.</li>
      </ol>
      <li>Оператор не несет ответственность за последствия несанкционированного использования сервисов портала третьими лицами, случившегося не по вине Оператора.</li>
      <li>Пользователь обязуется:</li>
      <ol>
        <li>Обеспечить за свой счет доступ в Интернет, настройку и защиту от несанкционированного использования своего оборудования.</li>
        <li>Нести ответственность за использование своей учетной записи и сохранность установленного Пользователем пароля.</li>
        <li>Не создавать и не использовать на портале более одной учетной записи.<span>&nbsp;</span></li>
        <li>Принять полную ответственность за все обращения и действия, предпринятые через портал, имевшие место после регистрации или авторизации Пользователя на портале.</li>
        <li>Не использовать сервисы портала для совершения каких-либо действий, противоречащих действующему законодательству, а также не размещать или передавать с помощью сервисов портала незаконные, оскорбительные, клеветнические, агрессивные или скандальные материалы.</li>
        <li>Не использовать в качестве псевдонима и/или имени нецензурные, оскорбительные или вульгарные выражения, выражения содержащие лозунги и призывы, названия организаций, движений, имена исторических и/или политических личностей, глаголы либо словосочетания, содержащие угрозы жизни, здоровью и имуществу, противоречащие правилам и требованиям деловой этики или обычаям делового оборота, которые умаляют честь и достоинство гражданина или деловую репутацию гражданина, юридического лица, либо государственного органа, а также носят пренебрежительный характер.</li>
        <li>Запрещается также использовать псевдоним как средство пропаганды, дискриминации, провокации, продвижения общественных, политических или коммерческих интересов.</li>
        <li>Не выдавать себя за другого человека или представителя организации, не использовать имя какого-либо Пользователя с намерением выдать себя за этого Пользователя, а также не применять любые другие формы и способы незаконного представительства других лиц.</li>
        <li>Не накапливать, не хранить и не использовать материалы, направленные другими Пользователями или другими участниками процесса обработки информации, направляемой Пользователями на портал, для целей повторного размещения на портале от своего имени или для любых других целей.</li>
        <li>Не размещать материалы, которые не соответствует целям создания портала, ущемляют интересы других Пользователей портала или третьих лиц, оскорбляют работников портала, или по другим причинам являются нежелательными для размещения на портале.</li>
        <li>Не размещать материалы, содержащие заведомо ложную, вводящую в заблуждение, неправдивую или неточную информацию, или материалы, которые могут быть классифицированы как спам.</li>
        <li>Не пытаться получить доступ к сервисам портала незаконно или в обход правилам, указанным в настоящей оферте.</li>
        <li>По возможности формулировать обращение в вежливой, максимально короткой и простой для понимания форме.</li>
      </ol>
      <li>Пользователь имеет право в случае возникновения претензий или пожеланий, связанных с предоставлением возможностей по пользованию сервисами портала, написать обращение в соответствии с Законом Республики Узбекистан от 03.12.2014 №ЗРУ-378 «Об обращениях физических и юридических лиц» в адрес Оператора.</li>
      <li>Пользователь соглашается не использовать сервисы портала для:</li>
      <ol>
        <li>Загрузки, отправки, передачи или любого другого способа опубликования материалов, которые нарушают авторские и иные права интеллектуальной собственности, пропагандирующие ненависть и/или дискриминацию людей по расовому, этническому, половому, социальному признакам.</li>
        <li>Размещения ссылок на ресурсы в сети Интернет, содержание которых противоречит действующему законодательству Республики Узбекистан.</li>
      </ol>
    </ol>

    <h5>
      5. Порядок принятия и рассмотрения видеозаписей о случаях правонарушений, зафиксированных видеорегистраторами, установленными в автотранспортных средствах физических и юридических лиц.
    </h5>

    <ol>
      <li>Видеозаписей о случаях правонарушений, зафиксированных видеорегистраторами, установленными в автотранспортных средствах физических и юридических лиц принимаются и рассматриваются согласно приложению к постановлению Кабинета Министров от 20 сентября 2018 года №747.</li>
    </ol>

    <h5>
      6. Поощрение лиц, предоставивших видеозаписи с зафиксированными правонарушениями.
    </h5>
    <ol>
      <li>Лица, предоставившие видеозаписи с зафиксированными правонарушениями, поощряются денежным вознаграждением в соответствии с постановлением Кабинета Министров от 20 сентября 2018 года №747.</li>
      <li>Вознаграждение, перечисленное на условиях данной публичной оферты на банковские пластиковые карты физических лиц, не рассматриваются в качестве базы налога на доходы физических лиц согласно Указу Президента от 06.09.2019 №УП-5813 «О мерах по внедрению современных информационных технологий в систему расчетов в сфере торговли и оказания услуг, а также усилению общественного контроля в данной сфере».</li>
    </ol>

    <h5>
      7. Использование и хранение информации и материалов
    </h5>

    <ol>
      <li>Оператор имеет право устанавливать ограничения на срок хранения и максимальное количество материалов, размещаемых Пользователем.</li>
      <li>Пользователь предоставляет Оператору неисключительную лицензию на использование материалов, направленных Пользователем на портал, включая воспроизведение, распространение, переработку, публичный показ и доведение до всеобщего сведения.</li>
      <li>Пользователь имеет право в любой момент времени удалить свою учетную запись. В случае удаления Пользователем своей учетной записи, Оператор имеет право хранить архивные копии контента, размещенного Пользователями.</li>
      <li>Использование сервиса означает согласие Пользователя на обработку любой информации, в том числе необходимой для корректной работы и/или сбора статистики использования сервисов системы (в том числе cookie) или предоставляемой Пользователем самостоятельно, включая персональные данные.</li>
      <li>Обработка предоставляемых Пользователем персональных данных осуществляется Оператором в соответствии с Законом Республики Узбекистан от 02.07.2019 №ЗРУ-547 «О персональных данных» и требованиями к соответствующей информационной системе.</li>
      <li>Пользователь самостоятельно несет ответственность за безопасность (устойчивость к угадыванию) используемого им пароля, а также самостоятельно обеспечивает конфиденциальность своего пароля и других средств идентификации.</li>
    </ol>

    <h5>
      8. Нарушение условий настоящей оферты
    </h5>

    <ol>
      <li>Оператор вправе без предварительного уведомления Пользователя заблокировать на любой период или удалить его учетную запись, если Пользователь нарушил условия настоящей оферты, а также в случае прекращения действия портала по любой причине.</li>
      <li>Оператор вправе без предупреждения Пользователя ограничить использование Пользователем сервисов портала в случаях:</li>
      <ol>
        <li>Нарушения Пользователем условий настоящей оферты.</li>
        <li>Вследствие создания помех и нарушений в отношении сервисов Оператора, включая использование любых устройств, программного обеспечения.</li>
      </ol>
      <li>Оператор не несет ответственности перед Пользователем или третьими лицами за прекращение предоставления доступа к сервисам портала в случае нарушения Пользователем любого из пунктов настоящей публичной оферты.</li>
    </ol>

    <h5>
      9. Прочие условия
    </h5>

    <ol>
      <li>Условия настоящей оферты действуют до тех пор, пока одна из сторон не заявит о своем намерении отказаться от соглашения.</li>
      <li>Пользователь имеет право отказаться от использования портала и иных сервисов Оператора, воспользовавшись специальным интерфейсом по удалению профиля Пользователя.</li>
      <li>Все возможные споры по настоящей публичной оферте разрешаются в соответствии с нормами действующего законодательства Республики Узбекистан.</li>
    </ol>
  </div>
</div>

{% endblock %}
