{% extends "metronic/index.html" %}


{% block title %}{{ "Настройка МРЗП"|t }}{% endblock %}
{% block sub-header-title %}{{ "Настройка МРЗП"|t }}{% endblock %}
{% block sub-header-sub-title %}{{ "Минимальный размер заработной платы"|t }}{% endblock %}

{% block floor %}
<script>
  $(function() {
    $('input[name=value]').each(function (_, el) {
      new IMask(el, {
        mask: Number,
          scale: 0,
          signed: false,
          thousandsSeparator: ' ',
          min: 0
      })
    })
  })
</script>
{% endblock %}

{% block content %}
<div class="kt-portlet kt-portlet--height-fluid">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{ "Настройка МРЗП"|t }}
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form pt-4 pb-4" method="post">
      {% csrf-field %}
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">{{ "Значение"|t }}</label>
            <div class="col-md-9">
              <input type="text" class="form-control" required name="value" value="{{ value }}"/>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
              <button type="submit" class="btn btn-success mr-2">
                {{ "Сохранить"|t }}
              </button>
              <button type="reset" class="btn btn-secondary" onclick="history.go(-1)">
                {{ "Назад"|t }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
